<div class="card">
    <div class="card-body">
        <h4 class="mb-32">New User</h4>
        <form>
            <mat-form-field class="w-50 fs-16" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" [(ngModel)]="user.firstName" name="firstName" placeholder="Enter your Name" required >
            </mat-form-field>
            <mat-form-field class="w-50 fs-16" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Enter your Name" required>
            </mat-form-field>
            <mat-form-field class="w-50 fs-16" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" [(ngModel)]="user.email" name="email" placeholder="Enter your email" required>
            </mat-form-field>
            <mat-form-field class="w-50 fs-16" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" [(ngModel)]="user.userName" name="userName"
                    placeholder="Enter your username" required>
            </mat-form-field>
            <mat-form-field class="w-50 fs-16" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="user.password" name="password"
                    placeholder="Enter your password"  
                    id="password" 
                    class="form-control" required>
                  
            </mat-form-field>
            <mat-form-field class="w-50 fs-16" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Confirm your password">
                 </mat-form-field>
            <mat-form-field class="w-50 fs-16" appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select [(ngModel)]="user.role" (ngModelChange)="primaryModeChangeHandler($event)"
                    name="role">
                    <mat-option *ngFor="let label of modesLabels" required [value]="label">{{label}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="w-50 fs-16" appearance="outline">
            <mat-label>Birthday Date</mat-label>
            <input matInput type="datetime-local" [ngModel]="user.birthDate | date:'yyyy-MM-dd'"
                (ngModelChange)="user.birthDate = $event" name="birthDate" required>
        </mat-form-field>
            <mat-form-field class="w-100 fs-16" appearance="outline" required>
                <mat-label>Image</mat-label>
                <input matInput type="text">
            </mat-form-field>
            

            <section class="fs-16 mb-32">
                <mat-checkbox color="primary" [checked]="user.locked" class="d-block mb-16">Blocked</mat-checkbox>
                <mat-checkbox color="primary" [checked]="user.active" class="d-block mb-16">Active</mat-checkbox>
            </section>
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="100%" fxFlex="100">
                    <mat-card>
                        <mat-tab-group>
                            <mat-tab label="Points">
                                <mat-card-content>{{user.nbPoints}} Points</mat-card-content>
                            </mat-tab>
                            <mat-tab label="Warnings">
                                <mat-card-content>{{user.warningNum}}</mat-card-content>
                            </mat-tab>
                            <mat-tab label="Connections">
                                <mat-card-content>{{user.nbconnexion}}</mat-card-content>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card>
                </div>
            </div>
            <button mat-button class="btn btn-info fw-normal" (click)="addUser()" type="submit">Save</button>
        </form>
    </div>
</div>