<!--Main Navigation-->
<header>
  
    <!-- Sidebar -->
    <nav id="sidebarMenu"   class="collapse d-lg-block sidebar collapse bg-info">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
          (click)="takemetoEvent()"
            class="list-group-item list-group-item-action py-2 ripple btn " style="background-color: white;"
            aria-current="true"
            
          >
            The Events 
          </a>
          <br>
         
          <a (click)="takemetobest()" class="list-group-item list-group-item-action py-2 ripple btn "
          style="background-color: white;"  > Most Dynamic User </a
          >
          <br>
          <a  (click)="takemetoadd()" class="list-group-item list-group-item-action py-2 ripple btn "
          style="background-color: white;"     > Add event </a
          >
          <br>
          <a  (click)=" takemetostas()" class="list-group-item list-group-item-action py-2 ripple btn "
          style="background-color: white;" >  Admin stat </a>
          <br>
          <a  (click)=" takemetoremind()" class="list-group-item list-group-item-action py-2 ripple btn "
          style="background-color: white;" >  Remind </a>
      
           
          
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
   
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4"></div>
  </main>
  <!--Main layout-->