<!-- 
<H1>Post id :  [(ngModel)]="post.postId"</H1>
<div class="card mb-3">
    <img class="card-img-top" src="../../assets/images/u2.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->

  <h5>Post</h5>
<div class="container">

 <fieldset class="form-group">
   <label >Title</label>
   <input type="text" [(ngModel)]="post.titlePost" class="form-control" name="titlePost" aria-required="true">
 </fieldset>

 <fieldset class="form-group">
  <label >Description</label>
  <input type="text"[(ngModel)]="post.descriptionPost" class="form-control" name="descriptionPost" aria-required="true">
 
</fieldset>



  <fieldset class="form-group">
  <label >Image</label>
  <input type="text"  class="form-control" name="Tiktok" aria-required="true">
</fieldset>  


  <button class="btn btn-success" (click)="addPost()">save</button>
  
</div>