<!-- <h1>Best Posts</h1>
<div class="container">
  <div class="row col-md-12">
  <div class="col-md-4" *ngFor="let post of bestPosts">
    <div class="card-deck card col-md-12">
    <div>
      <img class="card-img-top" src="../../../assets/images/u2.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{post.titlePost}}</h5>
        <p class="card-text">{{post.descriptionPost}}</p>
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Post Date :</small> {{post.datePost | date | uppercase}}</p>
        <div style="margin-bottom: 10px;align-items: center;" >
          <mat-icon style="margin-left: 40px;">chat_bubble_outline</mat-icon>{{post.nbComment}}
          <mat-icon style="margin-left: 25px;">sentiment_very_satisfied</mat-icon>{{post.nbLikes}}
          <mat-icon style="margin-left: 25px;">sentiment_very_dissatisfied</mat-icon>{{post.nbDislikes}}
        </div>
        <button (click)="deletePost(post.postId)" class="btn btn-danger">Delete</button>
        <button (click)="updatePost(post.postId)" class="btn btn-success" style="margin-left: 10px;">update</button>
      </div>
      <div class="row">
     

      </div>
         
        </div>
        </div>
      </div>
      </div>  -->
  
<div class="container">
<h1>All Posts</h1>
<div class="row col-md-12">
<div class="col-md-4" *ngFor="let post of listPosts | paginate: { itemsPerPage: 3, currentPage: p }">
  <div class="card-deck card col-md-12">
  <div>
    <img class="card-img-top" src="../../../assets/images/u2.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Title : {{post.titlePost}}</h5>
      <p class="card-text">Description :{{post.descriptionPost}}</p>
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted">Post Date :</small> {{post.datePost | date | uppercase}}</p>
      <div style="margin-bottom: 10px;align-items: center;" >
        <mat-icon style="margin-left: 40px;">chat_bubble_outline</mat-icon>{{post.nbComment}}
        <mat-icon style="margin-left: 25px;">sentiment_very_satisfied</mat-icon>{{post.nbLikes}}
        <mat-icon style="margin-left: 25px;">sentiment_very_dissatisfied</mat-icon>{{post.nbDislikes}}
      </div>
      <button (click)="deletePost(post.postId)" class="btn btn-danger">Delete</button>
      <button (click)="updatePost(post.postId)" class="btn btn-success" style="margin-left: 10px;">update</button>
    </div>
    <div class="row">
     

</div>
   
  </div>
  </div>
</div>
</div> 
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<div> <button (click)="addPost()" class="btn btn-success">add a New Post</button> </div>
</div>

 <div class="container" style="margin-top: 20px; align-self: center;">
  <div class="form-group row">
    <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
    <div class="com-sm-6">
      <input type="text" class="form-control" id="search">
    </div>
<table class="table">
  
  <thead>
    <tr>
      <th>word Id</th>
      <th>word description</th>
      <th></th>
      <th>Action</th>
      
    </tr>
  </thead>
  <tbody  *ngFor="let word of listWords | paginate: { itemsPerPage: 3, currentPage: pDictionnary }" >
    <tr>
      <td>{{word.idWord}}</td>
      <td>{{word.word}}</td>
     

     <td> <button (click)="deleteWord(word.idWord)" class="btn btn-danger">Delete</button></td>
      <td><button  class="btn btn-success" (click)="updateWord(word.idWord);">update</button></td>
    
    </tr>
    
  </tbody>
  <pagination-controls (pageChange)="pDictionnary = $event"></pagination-controls>

</table>
</div>
<div class="row">
  
      <td><button  class="btn btn-success"  (click)="addWord()">add</button></td>

</div> 



<!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Word</th>
  
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let word of listWords">
      <td>{{ word.idWord }}</td>
      <td>{{ word.word }}</td>
    </tr>
  </tbody>
</table> -->

<!-- <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/b1dc394e-07cd-4054-98ac-d098a51a8720">
</iframe>  -->
<!-- </div> -->
