<!------
<!doctype html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <title>WeCare</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="./assets/images/favicon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

 Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon 
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>-->

    <small *ngIf='invalidLogin' >{{errorMessage}}</small>
    <!-- Login Form -->
    <form>
      <input type="text" id="username" class="fadeIn second" name="userName" placeholder="Username" [(ngModel)]="userName">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" [(ngModel)]="password">
      <input type="submit" (click)=handleLogin2() class="fadeIn fourth" value="Log In">
    </form>

    
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
<!-- Remind Passowrd
</body>

</html> -->