<div class="card">
    <div class="card-body">
        <h4 class="mb-32">Update Jackpot</h4>
        <form>
            <mat-form-field class="w-50 fs-16" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput type="text" [(ngModel)]="cagnotte.cagnotteTitle" name="cagnotteTitle" placeholder="Enter the title">
            </mat-form-field>
            <mat-form-field class="w-50 fs-16" appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput type="text" [(ngModel)]="cagnotte.cagnotteDescription" name="cagnotteDescription" placeholder="Enter the description">
            </mat-form-field>
            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Image</mat-label>
                <input matInput type="text" >
            </mat-form-field>
             <button mat-button class="btn btn-info fw-normal" (click)="updateCagnotte()" type="submit">Save</button>
        </form>
    </div>
</div>