
 table {
    position: absolute;
    top: 100px;
    right: 1000px;
    border-collapse: collapse;
    text-align: center;
	vertical-align: middle;
}

th, td {
    border: 10px greenyellow;
    padding: 8px;

  }
